:root {
  --bg: #2b2d2e;
  --logoJS: #ec310c;
  --logoJS-accent: #82f524;
  --text: #fbd9b0;
  --logoJS: #ec310c;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  width: 100%;
  padding: 0.5rem;
  background-color: var(--bg);
}
/* .footer__wrapper {
 
} */

.footer__list {
  display: flex;
  gap: 0.5rem;
}
.contacts__link {
  color: var(--text);
  transition: color 0.3s linear;
}
.contacts__link:hover,
.contacts__link:active {
  color: var(--stop);
}
.contacts__icon-invert {
  fill: currentColor;
}

/* logo */
.logo {
  width: 100px;
  color: var(--text);
  transition: color 1s linear;
}
.st0,
.st5,
.st7,
.st9 {
  fill: currentColor;
  stroke: currentColor;
}
.logo__svg {
  width: 100px;
  padding-right: 10px;
}

.logo:hover {
  animation: shake-rotate 1s linear;
  color: var(--stop);
}

.logo > a,
.year,
.footer__list {
  font-size: 1.5rem;
}
