:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --div: 50;
  --bg: #2b2d2e;
  --accent-prime: #ec310c;
  --accent-second: #82f524;
  --text: #fbd9b0;
  --text-second: #2b2d2e;
  --logoJS: #ec310c;
  --color-table-prime: #82f524;
  --color-table-second: #ec310c;
  --hammer-color: #aab8b9;

  --placeholderColor: #8e8e8e;
  --transitionColor: color 0.3s linear;
  --transitionBgColor: background-color 0.3s linear;
  --breakpoint-tablet: 1024px;
  --width-desktop: 1440px;
  --width-tablet: 768px;
}

body,
div,
p,
ul,
li,
h1,
h2,
button {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  color: var (var(--text));
}

a {
  text-decoration: none;
  color: #212121;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: var(--text);
  line-height: 1.5;
  margin: 0;
}

main {
  background: linear-gradient(to bottom, hsl(193, 98%, 49%), var(--bg));
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select,
a {
  font-family: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  transition: var(--transitionColor);
}
button {
  background-color: transparent;
}

svg {
  fill: currentColor;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.modal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-modal.block {
  display: block;
}

.invisible {
  visibility: hidden;
}

.modal-message.visible {
  opacity: 1;
  z-index: 30;
}

.container {
  max-width: var(--width-desktop);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text);
  width: 100%;
  padding: 15px 20px;
  background-color: var(--bg);
}
/* .footer__wrapper {
 
} */

.footer__list {
  display: flex;
  gap: 0.5rem;
}
.contacts__link {
  color: var(--text);
  transition: color 0.3s linear;
}
.contacts__link:hover,
.contacts__link:active {
  color: var(--accent-second);
}
.contacts__icon-invert {
  fill: currentColor;
}

/* logo */
.logo {
  width: 100px;
  color: var(--text);
  transition: color 0.3s linear;
}
.st0,
.st5,
.st7,
.st9 {
  fill: currentColor;
  stroke: currentColor;
}
.logo__svg {
  width: 100px;
  padding-right: 10px;
}

.logo:hover {
  animation: shake-rotate 1s linear;
  color: var(--accent-second);
}

.logo > a,
.year,
.footer__list {
  font-size: 1.5rem;
}

.cross.block {
  display: block;
}
.modal__label-name.block {
  display: block;
}
.table.block {
  display: flex;
}

.shake-rotate {
  animation: shake-rotate 1s linear infinite;
}

/* animation */
@keyframes shake-rotate {
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--width-tablet);
  }
}
@media screen and (max-width: 420px) {
  .year {
    display: none;
  }
}

@keyframes skewY {
  0% {
    transform: skewY(0);
  }
  25% {
    transform: skewY(30deg);
  }
  50% {
    transform: skewY(0);
  }
  75% {
    transform: skewY(-30deg);
  }
  100% {
    transform: skewY(0);
  }
}

@keyframes breath {
  0% {
    transform: scale(1.1);
    color: var(--accent-prime);
  }

  50% {
    transform: scale(0.8);
    color: var(--accent-second);
  }

  100% {
    transform: scale(1.1);
    color: var(--accent-prime);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg) translateY(2px);
  }
  100% {
    transform: rotate(360deg);
  }
}
