.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}
.describe {
  display: flex;
  color: var(--text-second);
}

.score__sign {
  font-family: 'Croissant One', cursive;
}
.score__value {
  color: var(--accent-prime);
  font-family: 'Orbitron', sans-serif;
}
#area {
  position: relative;

  margin: 0 auto;
  outline: 3px solid blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.area__item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.9;
  transition: all 0.25s linear;
}

/* .area__value {
  color: white;
} */
