.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px;
}
.describe {
  display: flex;
  color: var(--text-second);
}

.score {
  margin-bottom: 25px;
  font: 700 20px 'Croissant One', cursive;
  text-align: center;
}
.score__value {
  font: 400 20px 'Orbitron', sans-serif;
  color: var(--accent-prime);
}

.game {
  display: flex;
  margin: 0 auto;
}

.game__left,
.game__right {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.game__left {
  padding-right: 10px;
}
.game__right {
  padding-left: 10px;
}
#area {
  position: relative;

  outline: 3px solid blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.area__item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.9;
  transition: all 0.1s linear;
}

/* .area__value {
  color: white;
} */
