:root {
  --bgColor: #0c0c0e;
  --accentColor: #bb945f;
  --placeholderColor: #8e8e8e;
  --textColor: #000;
  --textColor-invert: #fff;
}

body {
  box-sizing: border-box;
}

* {
  font: 400 20px 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
div {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* H E A D E R */
header {
  background-color: var(--bgColor);
  color: var(--textColor-invert);
}

.header__wrap {
  height: 90px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__title {
  flex-grow: 1;
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  line-height: 1.66667;
  letter-spacing: 0.6px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__link {
  padding: 10px;
  line-height: 2.5;
}
.logo__link {
  padding: 10px 0 10px 10px;
}
