:root {
  --div: 50;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#description.visible {
  opacity: 1;
  /* animation: shift 10s linear infinite; */
}
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
}
.container {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.magnitofon {
  width: 50vw;
  height: 50vw;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  background-color: #15b3de;
}
.view {
  padding-left: 3vw;
  padding-right: 3vw;
  background-image: url('./assets/images/magnitofon.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(50vw * 900 / 1085);
  overflow: hidden;
}
#description {
  opacity: 0;
  margin: 0;
  padding-top: 23vw;
  white-space: nowrap;
  font-size: 5vw;
  color: bisque;
  text-shadow: 0.3vw 0.3vw #15b3de;
  transition: all 1s linear;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .bobbins {
  padding-top: 1vw;
  display: flex;
  justify-content: space-around;
}
.bobbins__item {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background-color: #277193;
}
.bobbins__item:nth-of-type(1) {
  transform: translateX(0.8vw);
}
.bobbins__item:nth-of-type(2) {
  padding-right: 2vw;
} */

/* Button start/stop */

.start__label {
  padding: calc(20vw / var(--div));
}
.start__label:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#checkbox {
  width: 0;
  height: 0;
}
.btn {
  display: inline-block;
  background-color: #82f524;
  position: relative;
  width: calc(200vw / var(--div));
  height: calc(200vw / var(--div));
  border-radius: 50%;
  transition: background-color 0.4s linear;
}

.btn__item {
  position: absolute;
  width: calc(25vw / var(--div));
  height: calc(125vw / var(--div));
  background-color: #fff;
  border-radius: calc(12vw / var(--div));
  transform: scale(1.15);
  transition: all 0.4s linear;
}
.btn__item:nth-of-type(1) {
  left: calc(50vw / var(--div));
  top: calc(35vw / var(--div));
}
.btn__item:nth-of-type(2),
.btn__item:nth-of-type(3) {
  left: calc(125vw / var(--div));
  top: calc(35vw / var(--div));
}
#checkbox:checked ~ label .btn {
  background-color: #ea7e69;
}
#checkbox:checked ~ label .btn__item:nth-of-type(2) {
  /* height: 200vw; */
  transform: rotate(-62deg) scale(1.15);
  transform-origin: top;
  left: calc(42vw / var(--div));
}
#checkbox:checked ~ label .btn__item:nth-of-type(3) {
  transform: rotate(62deg) scale(1.15);
  transform-origin: bottom;
  left: calc(42vw / var(--div));
}
/* range */
#range {
  width: 40vw;
}

@keyframes shift {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
